@import "tailwindcss";

:root {
  --color-background: #f7f7f7;
  --color-foreground: #100303;
  --color-accent: #43d8c9;
  --color-accent2: #95389e;
  --height-footer: 4rem;
  --height-navbar: 3rem;
  --gap-sections: 1rem;
  --height-user-section: 5rem;
  /* --text-icon: 0.9375rem; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);
  --font-logo: var(--font-logo);
  --text-icon: 0.9375rem;
  --height-footer: var(--height-footer);
  --height-navbar: var(--height-navbar);
  --gap-sections: var(--gap-sections);
  --height-user-section: var(--height-user-section);
  /* 360x800 */
  --breakpoint-mobile: 22.5rem;
  /* 768x1024 */
  --breakpoint-tablet: 48rem;
  /* // 1920x1080 */
  --breakpoint-desktop: 120rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #100303;
    --foreground: #f7f7f7;
    --accent: #43d8c9;
  }
}

body {
  @apply flex min-h-[calc(100vh+var(--height-footer))] flex-col bg-background font-body text-foreground;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-bold;
}

h6 {
  @apply text-base font-bold;
}

.animation-on-hover {
  @apply transition-all duration-100 ease-in-out hover:scale-105 hover:bg-foreground/5;
}
